<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- <script type="module" src="../public/js/js.js"></script> --}}
  </head>
  <body> 
    {{{body}}}
    {{!-- <div id="place-holder"></div> --}}
  </body>
</html>
